{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block contenu %}

    <h2 class="text-center"> Valider ma commande</h2>
    <p class="text-center"> Choisissez vos préferences avant de valider votre commande</p>
    <hr>
    <div class="row">
    <div class="col-md-6">

    {% set formhtml %}
    {{form_start(form, {action:path('app_order_recap')})}}
    {{form_end(form)}}
    {% endset %}
    {{formhtml|replace({'[br]' : '<br/>'})|raw }}
    </div>
    <div class="col-md-6">
    <div class="text-center">
    <b> Recap de ma commande</b><br>
    Retrouver le récapitulatif de votre commande
    </div>
    <div class="order-summary">
    
       
    {% set total = null %}
    {% for key,produit in cart %}
    <div class="row {% if key > 0 %} mt-2 {% endif %}">
    <div class="col-2">
    <img src="/produits/{{produit.produit.ilustration}}" alt="{{produit.produit.nom}} " height="75px">   
    </div>
    <div class="col-8 my-auto">
    <b>{{produit.produit.nom}}</b> <br/>
    {{produit.produit.subtitle}}</b>
    </div>
    <div class="col-2 my-auto">
    x{{produit.quantite}} 
    </div>
    </div>
 
    {% endfor%}
 
    <b> Payer ma commande</b>
    </div>

    </div>
    
    </div>

   

{% endblock %}
