{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">{{ form_row(form.nomadr) }}</div>
    <div class="col-md-6">{{ form_row(form.entreprise) }}</div>
    <div class="col-md-6">{{ form_row(form.adresse) }}</div>
    <div class="col-md-6">{{ form_row(form.bp) }}</div>
    <div class="col-md-6">{{ form_row(form.ville) }}</div>
    <div class="col-md-6">{{ form_row(form.pays) }}</div>
    <div class="col-md-6">{{ form_row(form.phone) }}</div>
    </div>

    <button class="btn btn-block btn-success">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
