{% extends 'base.html.twig' %}
{% block title %}Boutique MB - {{controller_name}}{% endblock %}

{% block contenu %}
    <h1>Liste des Utilisateur</h1>

    <table class="table table-stripped table-bordered">
        <thead>
            <tr>
            
                <th>Email</th>
                <th>Username</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
               
                <td>{{ user.email }}</td>
        
                <td>{{ user.username }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Mon compte</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Nouveau compte</a>
{% endblock %}
